html{
    scroll-behavior: smooth;
}

.foto-perfil {
    height: 65%;
    width: auto;
    max-width: 55%;
    border-radius: 47%;
}

.corPimaria{
    background-color: #18bc9c;
}

.corSecundaria{
    background-color: #2c3e50;
}

p{
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black !important;
}

.icones {
    padding-left: 5px;
}

.titulosBrancos {
    text-decoration: underline;
    text-underline-position: below;
    /* padding-bottom: 20px; */
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.titulosVerdes {
    text-decoration: underline;
    text-underline-position: below;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #18bc9c;
}

.textoBranco{
    color: white !important;;
}

.jumbotron{
    margin-bottom: 0px;
}

.textoFooter{
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.divLeft {
    width: 49.5%;
    height: 949px;
    float: left;
    position: relative;
}

#spaceText {
    padding-right: 16px;
}

#photo {
    width: 1600px;
    height: 949px;
}

.textDiv{
   position: absolute;
   top: 0;
   left: 0;
   
   /*cor apenas para exmplo*/
   color: #fff;
}